*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat Thin';
    background-color: #363431;
}

/*SCROLLBAR TWEAK*/
/*width*/
::-webkit-scrollbar {
    width:8px;
}

/*Track*/
::-webkit-scrollbar-track {
    background: #363431;
}

/*Handle*/
::-webkit-scrollbar-thumb {
    background-color:rgb(160, 160, 160);
    border-radius: 15px;
}

/*Handle Hover*/
::-webkit-scrollbar-thumb:hover {
    background:rgb(144, 144, 144);
    transition: 0.3s ease;
}


/*NAVIGATION BAR SETTINGS (DON'T CHANGE BETWEEN PAGES*/
nav{
    position:sticky;
    top:0;
    
}

nav h4, nav div, nav li, nav a {
    background-color: transparent;
}

.nav-links{
    position:absolute;
    left:0px;
    height:100vh;
    background-color: #3d0000;
    width: 18%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index:1001;
    list-style-type:none;
}

.nav-links li {
    opacity:0;
    margin-left: 1vw;
    margin-top: 6vh;
    text-transform:uppercase;
}

.nav-links a {
    color:rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links a:hover {
    color: #5b9bd5;
    transition:0.3s;
}
/*MENU BUTTON*/
.burger {
    cursor: pointer;
    position: absolute;
    margin-top:2vh;
    margin-left:1vw;
    z-index:1001;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
/*Link highlight*/
.nav-active {
    transform:translateX(0%);
}
/*Name above page links in Navbar*/
.nav-links .tag {
    margin-top: 8vh;
    margin-bottom: 6vh;
    text-transform:uppercase;
    font-weight: bold;
}
/*Navmenu text format*/
.tag h4 {
    font-size:26px;
}
/*Social button formatting*/
.nav-links .socials {
    margin-top: 58vh;
    display:flex;
    justify-content:space-around;
    margin-left:0;
}

/*PAGE CONTENT*/
.content{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:10%;
}

.content h2{
    color:rgb(226, 226, 226);
}

.content p{
    color:rgb(226, 226, 226);
    padding-top:8px;
    padding-bottom:8px;
}

form{
    width:600px;
}

form p{
    color:rgb(226, 226, 226);
}

input[type=text]{
    background-color:rgb(226, 226, 226);
    width:100%;
    border-radius:4px;
    border:none;
    padding:4px;
}

textarea{
    height: 150px;
    border-radius:8px;
    width:100%;
    background-color:rgb(226, 226, 226);
    padding:4px;
}

input[type=submit],input[type=reset]{
    background-color:rgb(226, 226, 226);
    padding:15px;
    padding-left:40px;
    padding-right:40px;
    margin-top:10px;
    margin-left:10px;
    border-radius:8px;
    border:none;
}

.buttons{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

input[type=submit]:hover,input[type=reset]:hover{
    background-color:#5b9bd5;
    
}

/*Menu button keyframe anim setup*/
@keyframes navLinkFade {
    from{
        opacity:0;
        transform:translateX(-50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}

.toggle .line1{
transform:rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity:0;
}

.toggle .line3{
    transform:rotate(45deg) translate(-5px,-6px);
}